@import "tailwindcss";

@theme inline {
  --color-primary: #11132F;
  --color-secondary: #171942;
  --color-accent: #6046D8;
  --color-accent-light: #7657E8;
  
  --color-cream: #FAFAFC;
  --color-light: #FFFFFF;
  
  --color-lavender-soft: #F2EEFF;
  --color-lavender-light: #F8F6FF;
  
  --font-sans: var(--font-manrope), "Inter", sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  --background: #FFFFFF;
  --foreground: #17182C;
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@layer base {
  * {
    border-color: #E7E6EF;
  }
}


html {
  scroll-behavior: smooth;
}
